body{ 
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;	
}

/* Tamanho do dizer acima do card de login */
h5 { font-size: 20px; }

/* form container */
@media only screen and (min-width : 750px) {
    .contForm{
        margin-left: 70px;
        margin-right: 70px;
    }
}
/* input text color */
    .input-field input{
        color: #fff;
        font-weight: 300;
        font-size: 16px;
    }
/* label color */
   .input-field label {
     color: #fff;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, .input-field input[type=password]:focus + label {
     color: #fff;
   }
   /* label underline color */
   .input-field input[type=text], .input-field input[type=email], .input-field input[type=password] {
     border-bottom: 1px solid #fff;
     box-shadow: 0 1px 0 0 #fff;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field input[type=password]:focus {
     border-bottom: 1px solid #fff;
     box-shadow: 0 1px 0 0 #fff;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #fff;
   }
   
   .genero{
       margin-top: 0px;
   }   .select-wrapper input.select-dropdown{
            color: #fff;
            font-size: 16px;
        } .select-wrapper i{
                color: #fff;
            } .dropdown-content li>a, .dropdown-content li>span{
                    color: #f57c00;
                }

.picker__date-display{
    background-color: #757575;
} .picker__weekday-display{
        background-color: #424242;
} .picker__footer{
        opacity: 0;
} .picker__select--month.browser-default{
    font-size: 14px;
    height: 40px;
} .picker__select--year.browser-default{
    font-size: 14px;
    height: 40px;
}
                
.containerBtnCadastro{
	width: 395px;
}	@media only screen and (max-width : 520px) {
		.containerBtnCadastro {
		  width: 200px;
		}
	  }
/* Correção de proporção dos botões de cadastro.*/
.btnCadastro{
	width: 160px;
	margin-bottom: 15px;
	margin-left: -5px;  
        margin-right: 10px;
}
/* Mantém rodapé sempre embaixo */
footer {
	width: 100%;
	margin-bottom: -21px;
}