body{ 
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;	
}



/* Tamanho do dizer acima do card de login */
h5 { font-size: 20px; }



/* LOGIN label color = label não focada */
.login label { color: #fff;}
/* LOGIN icon prefix focus color = icone do campo quando focado */
.login .prefix.active { color: #fff; }
/* LOGIN label underline focus color = linhas do campo focado */
.login input[type="password"]:focus, .login input[type="email"]:focus {
 border-bottom: 1px solid #fff; /* linha superior do campo */
 box-shadow: 0 1px 0 0 #fff; /* linha inferior do campo */
}
/* LOGIN label focus color = label focada*/
.login input:focus + label.inputLabel { color: #fff; }

.containerBtnInicio{
	width: 390px;
}	@media only screen and (max-width : 520px) {
		.containerBtnInicio {
		  width: 200px;
		}
	  }
/* Correção de proporção dos botões de login*/
.btnInicio{
	width: 160px;
	margin-bottom: 15px;
	margin-left: 2px;
	margin-right: 2px;
} 

.lblNasc{
	margin-top: 17px;
}	.lblNasc span {
		margin-left: 11.5px;
	}	.dtNasc{
		margin-top: 15px;
		}	.dataNasc{
				margin-left:-15px;
				margin-right:-15px;
			}
			
/* CADASTRO label underline focus color = linhas do campo focado */
.cadastro input[type="text"]:focus, .cadastro input[type="email"]:focus, .cadastro input[type="password"]:focus, .cadastro input[type="date"]:focus  {
 border-bottom: 1px solid #f57c00; /* linha superior do campo */
 box-shadow: 0 1px 0 0 #f57c00; /* linha inferior do campo */
}
/* CADASTRO label focus color = label focada*/
.cadastro input:focus + label.inputLabel { color: #f57c00; }


/* Mantém rodapé sempre embaixo */
footer {
	width: 100%;
	margin-bottom: -21px;
}
