/* Nada pode ser selecionado */body{ -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;	}
/* SideNav Fixa */ @media only screen and (min-width : 993px) {
    header, main, footer { padding-left: 240px; }
}
.sideLogo       { border-bottom: 1px solid #ddd; } 
span.brand-logo { font-size: 20px; line-height: 25px; }
.side-nav       { overflow: scroll; }
/* Dizer após cabeçalho */ h5 { font-size: 20px; }

 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

/* Conteúdo-Desktop */  @media only screen and (min-width : 871px) {
    .conteudo{   
        margin-right: 40px;
        margin-left: 40px;
    }
}
/* Conteúdo-Tablet */   @media only screen and (max-width : 870px) {
    .conteudo{   
        margin-right: 20px;
        margin-left: 20px;
    }
}
/* Conteúdo-Mobile */   @media only screen and (max-width : 580px) {
    .conteudo{   
        margin-right: 10px;
        margin-left: 10px;
    }
}

/* Card-Página Desktop */   @media only screen and (min-width : 871px) {
    .card-panel{
        margin-left: 0px;
        margin-right: 0px;
        padding: 7px;
    } 
    .cardConteudo{
        margin: 0px;
        margin-left: 40px;
        margin-right: 60px;
    }
    .imgServico {
        width: 130px;
    }
    .cardInfo{
        margin: 0px;
    }
    .cardTopo{
        margin: 0px;
        border-bottom: 1px solid #ddd;
    }
    .nomeServico{ font-size: 28px; }
    .sloganServico{ font-size: 16px; margin-top: -3px; margin-left: 5px; }
    .enderecoServico{ font-size: 14px; margin-top: 0px; margin-left: 5px; margin-bottom: 8px; font-weight: lighter;}
    .cardRodape{
        margin: 0px;
        margin-top: 7px;
    }
    .rateServico{
        margin: -3px;
        margin-top: -17px;
        margin-bottom: -17px;
        font-size: 3rem;
    }
    .btnServico{
        margin-left: 10px;
    }
}
/* Card-Página Tablet */    @media only screen and (max-width : 870px) {
    .card-panel{
        margin-left: 0px;
        margin-right: 0px;
        padding: 7px;
    } 
    .cardConteudo{
        margin: 0px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .imgServico {
        width: 107px;
    }
    .cardInfo{
        margin: 0px;
    }
    .cardTopo{
        margin: 0px;
        border-bottom: 1px solid #ddd;
    }
    .nomeServico{ font-size: 24px; }
    .sloganServico{ font-size: 14px; margin-top: -2px; margin-left: 5px; }
    .enderecoServico{ font-size: 12px; margin-top: 0px; margin-left: 5px; margin-bottom: 4px; font-weight: 400;}
    .cardRodape{
        margin: 0px;
        margin-top: 3px;
    }
    .rateServico{
        margin: -5px;
        margin-top: -17px;
        margin-bottom: -17px;
        font-size: 2.6rem;
    }
    .btnServico{
        margin-left: 6px;
        width: 30px;
        height: 30px;
    }
    .btnServico i{
        font-size: 20px;
        margin-top: -3px;
        margin-left: 1px;
    }
    .btnServico i.iconeBotao{
        margin-left: -1px;
    }

}
/* Card-Página Mobile */    @media only screen and (max-width : 600px) {
    .card-panel{
        margin-left: 0px;
        margin-right: 0px;
        padding: 7px;
        height: 110px;
    } 
    .cardConteudo{
        margin: 0px;
        margin-left: -10px;
        margin-right: -10px;
    }
    .imgServico {
        width: 70px;
    }
    .cardInfo{
        margin: -3px;

    }
    .cardTopo{
        margin: 0px;
        border-bottom: 1px solid #ddd;
    }
    .nomeServico{ font-size: 18px; }
    .sloganServico{ font-size: 11px; margin-top: -3px; margin-left: 3px; }
    .enderecoServico{ font-size: 11px; margin-top: -6px; margin-left: 3px; margin-bottom: 4px; font-weight: 300;}
    .cardRodape{
        margin: 0px;
        margin-top: 5px;
        margin-left: -20px;
        margin-right: -11px;
    }
    .rateServico{
        margin-top: -17px;
        margin-bottom: -17px;
        font-size: 1.6rem;
        margin-left: 5px;
    }
    .btnServico{
        margin-left: 2px;
        width: 25px;
        height: 25px;
        box-shadow: 0px 0px 0px 0px;
    }
    .btnServico i{
        font-size: 18px;
        margin-top: -6px;
    }
    .btnServico i.iconeBotao{
        margin-left: -1px;
    }
    .btnSite{
        margin-top: -7px;
        margin-bottom: 5px;
    }
    .btnSite .btn{
        margin: 0px;
    }
}
    
/* Produto-Desktop */   @media only screen and (min-width : 871px) {
    .contProdutos{  
        margin: -10px;
    }
    .card{
        margin-bottom: 5px;
    }
    .cardContProduto{
        height: 70px;
    }
    .card .card-content .card-title {
        font-size: 18px;
        font-weight: 300;
        margin: -10px;
        margin-right: 15px;
        line-height: 25px;
    }
    .card .card-title i{
        font-size: 24px;
        position: absolute;
        right: 10px;
        bottom: 21px;
    }
    .card .card-reveal .card-title{
        margin-top: -10px;
        font-size: 20px;
    }
    .card .card-reveal .card-title i{
        position: absolute;
        right: 10px;
        top: 10px;
    }
}
/* Produto-Tablet */    @media only screen and (max-width : 870px) {
    .contProdutos{  
        margin: -10px;
    }
    .card{
        margin-bottom: 5px;
    }
    .cardContProduto{
        height: 70px;
    }
    .card .card-content .card-title {
        font-size: 18px;
        font-weight: 300;
        margin: -10px;
        margin-right: 15px;
        line-height: 25px;
    }
    .card .card-title i{
        font-size: 24px;
        position: absolute;
        right: 10px;
        bottom: 21px;
    }
    .card .card-reveal .card-title{
        margin-top: -10px;
        font-size: 20px;
    }
}
/* Produto-Mobile */    @media only screen and (max-width : 580px) {
    .contProdutos{  
        margin: -10px;
    }
    .card{
        margin-bottom: 5px;
    }
    .cardContProduto{
        height: 70px;
    }
    .card .card-content .card-title {
        font-size: 18px;
        font-weight: 300;
        margin: -10px;
        margin-right: 15px;
        line-height: 25px;
    }
    .card .card-title i{
        font-size: 24px;
        position: absolute;
        right: 10px;
        bottom: 21px;
    }
    .card .card-reveal .card-title{
        margin-top: -10px;
        font-size: 20px;
    }
    .card .card-reveal .card-title i{
        position: absolute;
        right: 10px;
        top: 10px;
    }
}

/* Formulário-Busca */          @media only screen and (min-width : 1px) {
.formLine{
    margin: 0px;
}
.inputNome{
    margin-top: 30px;
}
/* input text color */
    .input-field input{
        color: #888;
        font-weight: 300;
        font-size: 16px;
    }
/* label color */
   .input-field label {
     color: #888;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #888;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus{
     border-bottom: 1px solid #888;
     box-shadow: 0 1px 0 0 #888;
   }
   .input-field input[type=textarea]:focus + label {
     color: #888;
   }
   .input-field input[type=textarea]:focus{
     border-bottom: 1px solid #888;
     box-shadow: 0 1px 0 0 #888;
   }
    
.genero{
    margin-top: 0px;
}   .select-wrapper i{
             color: #888;
         } .dropdown-content li>a, .dropdown-content li>span{
                 color: #555;
             }

.btnBusca{
    width: 180px;
}
.rowBusca{
    margin: 0px;
}
}

/* Formulário-Criar-Página*/    @media only screen and (min-width : 750px) {
    .contentForm{
        margin-left: 40px;
        margin-right: 40px;
        margin-top: -10px;
    }
}

.cardCor{
    margin: 3px;
}

.btn-excluir-produto{
    width: 100%;
}